.mainNav {
  background-color: var(--primary-blue);
  padding: 15px 0;
}

.mainNav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.mainNav li a {
  color: var(--white);
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  transition: color 0.3s ease;
}

.mainNav li a:hover {
  color: var(--primary-yellow);
}