.mainNav {
  background-color: var(--primary-blue);
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
}

.mainNav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
}


.mainNav li a {
  color: var(--white);
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  transition: all 0.3s ease;
}

.mainNav li a::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 3px;
  background-color: var(--primary-yellow);
  transition: width 0.3s ease;
}

.mainNav li a:hover {
  color: var(--primary-yellow);
}

.mainNav li a:hover::after {
  width: 100%;
}

.mainNav span {
  font-size: 30px;
  font-weight: bold;
  font-family: 'Pokemon Solid', sans-serif;
  color: white;
  letter-spacing: 3px;


}

